<div class="quiz-container" #quizContainer>
    <div
      class="question"
      #questionElement
      [ngClass]="{ 'hidden': isAnimating }"
    >
      <h2>{{ currentQuestion.question }}</h2>
      <div class="options">
        <button
          class="option-btn"
          *ngFor="let option of currentQuestion.options; let i = index"
          (click)="selectAnswer(option)"
          [class.selected]="option.selected"
          [disabled]="isOptionDisabled"
        >
          {{ option.text }}
        </button>
      </div>
    </div>
  </div>
  